<div class="header-outer">
  <!-- ロゴ -->
  <div class="header-inner">
    <a (click)="toTop()" href="javascript:void(0)"><img [src]="imgSrc" alt="header-logo"></a>
  </div>

  <!-- Playing -->
  <div class="mt-3">
    <strong style="display: flex;">Playing<span class="percent ms-1">{{playPercent}}%</span></strong>
    <!-- モード選択 -->
    <div>
      <a (click)="showModeSelectModal()" style="color: navy;">{{modeType}}</a>
    </div>
    <!-- モード選択 モーダル -->
    <nz-modal [(nzVisible)]="showModeSelect" nzTitle="Mode Select Modal" (nzOnCancel)="modeSelectCancel()"
      (nzOnOk)="modeSelectOk()">
      <ng-container *nzModalContent>
        <nz-radio-group [(ngModel)]="selectedMode">
          <div *ngFor="let mode of modeList"><label nz-radio nzValue={{mode.name}}>{{mode.name}}</label></div>
        </nz-radio-group>
      </ng-container>
    </nz-modal>
  </div>

  <!-- Hamburger Menu -->
  <div *ngIf="isPhoneSize">
    <!-- close button -->
    <button nz-button *ngIf="menuOpened" class="header-inner hamburger-menu-outer" (click)="closeMenu()">
      <span nz-icon nzType="close" nzTheme="outline"></span>
    </button>
    <!-- bars button -->
    <button nz-button *ngIf="!menuOpened" class="header-inner hamburger-menu-outer" (click)="openMenu()">
      <span nz-icon nzType="bars" nzTheme="outline"></span>
    </button>
  </div>

  <!-- PC Menu -->
  <div *ngIf="!isPhoneSize">
    <!-- モード選択 -->
    <div class="mt-4 ms-2">
      <a (click)="showModeSelectModal()">{{modeType}}</a>
    </div>
  </div>
</div>
