<div class="header-outer">
  <!-- ロゴ -->
  <div class="header-inner">
    <a (click)="toTop()" href="javascript:void(0)"><img [src]="imgSrc" alt="header-logo"></a>
  </div>

  <!-- Playing -->
  <div class="mt-4">
    <strong>Playing <span class="percent">{{playPercent}}%</span></strong>
  </div>

  <!-- モード選択 -->
  <button nz-button class="btn w-35 h-25 m-3" [nzShape]="'round'"
    style="background-color: blue; border-color: blue; color: white;"
    (click)="showModeSelectModal()"><span>{{modeType}}</span></button>
  <nz-modal [(nzVisible)]="showModeSelect" nzTitle="Mode Select Modal" (nzOnCancel)="modeSelectCancel()"
    (nzOnOk)="modeSelectOk()">
    <ng-container *nzModalContent>
      <nz-radio-group [(ngModel)]="selectedMode">
        <div *ngFor="let mode of modeList"><label nz-radio nzValue={{mode.name}}>{{mode.name}}</label></div>
      </nz-radio-group>
    </ng-container>
  </nz-modal>
</div>
