<div class="text-center" *ngIf="!introDisplayed">
  <img src={{introPath}} style="max-width:100% ; height: auto;" />
</div>


<swiper *ngIf="introDisplayed" [config]="swiperConfig" #usefulSwiper
  style="max-width:100%; height: auto; margin-bottom: 1rem;">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let image of myFavoriteImages">
      <img src={{imagePath+image.name}} style="max-width:100% ; height: auto;" />
    </div>
  </div>
</swiper>



<div class=" container">
  <div class="row">
    <h2 class="col-md-12" style="text-align: center;">Kazuaki's Site</h2>
  </div>
  <div class="row" style="margin-top: 2rem;">
  </div>
</div>
