<div class="text-center" *ngIf="!introDisplayed">
  <img src={{introPath}} style="max-width:100% ; height: auto;" />
</div>


<swiper [config]="swiperConfig" #usefulSwiper style="max-width:100%; height: auto; margin-bottom: 1rem;">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let image of myFavoriteImages">
      <img [hidden]="!introDisplayed" src={{imagePath+image.name}} style="max-width:100% ; height: auto;" />
    </div>
  </div>
</swiper>



<div class=" container">
  <div class="row">
    <h2 class="col-md-12" style="text-align: center;">Kazuaki's Site</h2>
  </div>
  <div class="row" style="margin-top: 2rem;">
    <div class="col-md-6">
      <h2>はじめに</h2>
      <strong>ようこそ、比嘉 一晃のサイトへ</strong>
      <p>
        このサイトでは作者の興味あるカテゴリごとに情報をまとめています。<br>
        これらの情報が少しでもみなさんのお役に立てたり、少しでも興味を持って遊んでいただけると大変嬉しいです。(ちょっとした仕掛けもあるかも)<br>
        それでは、楽しんでいってください。
      </p>
    </div>
    <div class="col-md-6">
      <strong>カテゴリ 一覧</strong>
      <div class="row">
        <div class="col-4 mt-1" *ngFor="let category of myFavoriteCategory">
          <button class="btn btn-primary" style="width: 100px;"
            (click)="toCategory(category.name)">{{category.name}}</button>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <h4 class="col-md-12">お知らせ</h4>
    </div>
  </div>
</div>
